.page-head {
  height: 750px;
}

.page-head_position {
  padding: 50px 80px;
}

.page-head_background {
  background: url("../img/header/Color Fill 1.png"), url("../img/header/Rectangle 1 copy 2.png");
  background-blend-mode: overlay;
}

.page-head__main {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  justify-content: space-between;
}

.page-head__logo {
  justify-self: start;
}

.page-head__nav {
  justify-self: center;
}

.page-head__sign-up {
  justify-self: end;
}