.page-head {
  height: 750px;
}

.page-head_position {
  padding: 50px 80px;
  box-sizing: border-box;
}

.page-head_background {
  background: url("../img/header/Color Fill 1.png"), url("../img/header/Rectangle 1 copy 2.png");
  background-blend-mode: overlay;
}

.page-head__header {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  justify-content: space-between;
}

.page-head__logo {
  justify-self: start;
}

.page-head__nav {
  justify-self: center;
}

.page-head__sign-up {
  justify-self: end;
}

.page-head__main {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: space-between;
  margin: 148px 0;
}

.video-block__description {
  font-family: Raleway;
}

.video-block__title {
  font-family: Raleway;
  font-size: 55px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}