.video-block {

}

.video-block__title {
  margin: 0;
}

.video-block__text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0;

}

.video-block__video {
  border-radius: 5px;
}